doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    //- fontawesome
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" )
    //- mystyle sheet
    link(rel='stylesheet', href='../stylesheets/index.css')
    title Homepage
  body#body
    header#header
      .left-icon
        img(src="../img/note-icon.png", alt="", srcset="")
        a.left-icon-text(href='/') NOTES ON THE GO! 
      .right-btn-wrapper
        <i class="fa-solid fa-bars small-screen-bar" id="small-screen-bar"></i>
        <i class="fa-solid fa-moon night-mode" id="night-mode"></i> 
        <i class="fa-solid fa-sun day-mode" id="day-mode"></i>
    .main-body-wrapper
      .left-wrapper
        h1.main-heading
            |  Create your
            span.less  Notes
            br
            |  on the go!

        p.description-text You don't have to take your notes everywhere you go, create one now and access it anywhere. 
        
        .btn-wrapper
          a(class="sign-up-btn", href="/users/signup") Sign up
          a(class="login-btn", id="login-btn", href="/users/login") Login
        
        .view-gallery-btn-wrapper
          a(class="view-gallery-btn", href="/notes") View notes 
         
      .right-wrapper
        img(src="../img/bb.png", alt="", srcset="")
    div#mobile-screen-display
      .top-icon-wrapper
        <i class="fa-solid fa-x close-pop-up-icon" id="close-pop-up-icon"></i>
        .night-day-icon-wrapper
          <i class="fa-solid fa-moon small-night-mode" id="small-night-mode"></i> 
          <i class="fa-solid fa-sun small-day-mode" id="small-day-mode"></i>
      
      .other-part-wrapper  
        a(class="users-sign-up", href="/users/signup") 
          | <i class="fa-solid fa-user-plus"></i> Sign up
        a(class="users-login", href="/users/login") 
          | <i class="fa-solid fa-right-to-bracket"></i> Login
        a(class="view-all-notes", href="/notes")
          | <i class="fa-solid fa-note-sticky"></i> View gallery
          
  script(src="../js/index.js")
