<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/login.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <title>Login Page</title>
  </head>
  <body>
    <div id="pop-up-message-wrapper"></div>
<main>
      <form id="login-form">
      <div class="form-wrapper">
        <div class="existing-note-wrapper">
          <h1 class="existing-note">Login</h1>
          <img src="/img/curve.png" alt="" class="existing-note-img" />
        </div>

<div class="field-wrapper">
                <label for="email">Email:</label>
                <div class="input-icon-wrapper">
                  <i class="fa-regular fa-envelope input-icon"></i>
                  <input
                    type="email"
                    id="email"
                    name="email"
                    class="email-input input-style"
                    placeholder="Enter your email"
                    required
                  />
                  <i
                    class="fa-solid fa-check input-status confirm-status email-confirm-input"
                  ></i>
                  <i
                    class="fa-solid fa-x input-status wrong-status email-wrong-input"
                  ></i>
                </div>

                <span class="email-error password-error"
                  >Enter a valid email</span
                >
              </div>
<div class="field-wrapper">
          <label for="password">Password:</label>
        
       <div class="password_wrapper">
                  <div class="input-inline-btn-wrapper">
                    <i class="bx bx-lock-alt input-icon"></i>

                    <input
                      type="password"
                      class="new-password inline-input"
                      name="password"
                      id="password"
                      placeholder="Enter your password"
                      required
                    />
                    <i
                      class="fa-solid fa-check input-status confirm-status password-confirm-input"
                    ></i>
                    <i
                      class="fa-solid fa-x input-status wrong-status password-wrong-input"
                    ></i>
                    <button
                      type="button"
                      class="view-password-btn inline-icon"
                      onclick="togglePasswordVisibility(event, 'password', '.eye-icon', '.eye-slash-icon')"
                    >
                      <i class="fa-solid fa-eye eye-icon"></i>
                      <i class="fa-solid fa-eye-slash eye-slash-icon"></i>
                    </button>
                  </div>
                  <span class="new-password-error password-error"
                    >Password must have a minimum of six (6) characters</span
                  >
                </div>
        
</div>

        <div class="btn-wrapper">
          <button class="submit-btn" submit">Login</button>
        </div>
        <p class="login-link-text">
              Don't have an account? click
              <a class="login-link" href="/users/signup">Here</a>
              <span> to signup</span>
            </p>
      </div>
    </form>
</main>
    <script src="/js/login.js"></script>
  </body>
</html>
