@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap");
*,
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --fs-xl: clamp(1.5rem, 4vw + 1rem, 3.2rem);
  --fs-600: 1.124rem;
  --fs-400: 1rem;
}

@media all and (min-width: 40em) {
  :root {
    --fs-600: 1.2rem;
  }
}
body {
  font-family: "Nunito", sans-serif;
  color: #fff;
  background: linear-gradient(to bottom, rgba(4, 38, 81), rgb(40, 4, 81));
  background-size: 100% 100% !important;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0 !important;
  height: 100dvh;
  overflow: hidden;
  line-height: 1;
  font-size: var(--fs-400);
}

.changeBackground {
  background-image: linear-gradient(
    to bottom,
    rgb(255, 255, 255),
    rgb(255, 255, 255)
  );
  color: #042651;
}
header {
  display: flex;
  height: 10vh;
  width: 100%;
  margin-top: 0;
  padding: 0;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(4, 38, 81);
  overflow-x: hidden;
  box-shadow: 0px 8px 25px #000000ba;
  @media all and (min-width: 768px) {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    height: 6.5rem;
    overflow-y: visible;
    align-items: center;
    padding: 0;
  }
  @media all and (min-width: 1500px) {
    width: 90%;
    margin: 0 auto;
  }
}
/* .sticky-header{
    position: fixed;
    top: 0;
    transition: all 1s ease;
    z-index: 1000;
    width: 100%;
    animation: slideDown .8s ease-in-out forwards;
  }
  
  @keyframes slideDown {
    0%{
      margin-top: -1000px;
    }
    100%{
      margin-top: 0;
    }
    
  } */
.left-icon {
  display: flex;
  align-self: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-self: center;
  max-width: 70%;
  margin: 0;
  @media all and (min-width: 768px) {
    max-width: 70%;
    min-width: 70%;
    width: 70%;
    padding: 0;
  }
}
.left-icon img {
  margin-left: 2rem;
  height: 2.1rem;
  width: 1.5rem;
  object-fit: contain;
  padding: 0 !important;
  overflow-x: hidden;
  @media all and (min-width: 768px) {
    height: 3.5rem;
    width: 3rem;
  }
}

.left-icon-text {
  color: #ffc600;
  font-size: 1rem;
  margin-left: 0.3rem;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  @media all and (min-width: 768px) {
    font-size: 2rem;
    margin-left: 0.8rem;
    font-weight: 700;
  }
}
.right-btn-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  min-width: 30%;
  overflow-x: hidden;
  @media all and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    max-width: 30%;
    min-width: 30%;
    width: 30%;
  }
}

.night-mode {
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  display: none;
  margin-right: 2rem;
  @media all and (min-width: 768px) {
    display: inline-block;
    margin-right: 2rem;
  }
}
.day-mode {
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  display: none;
  margin-right: 2rem;
  @media all and (min-width: 768px) {
    display: inline-block;
    margin-right: 2rem;
  }
}
#mobile-screen-display {
  position: fixed;
  height: 100vh;
  justify-content: center;
  background-color: #f4f4f4;
  box-shadow: 10px 3px 25px #000000ba;
  max-width: 70%;
  min-width: 50%;
  top: 0;
  z-index: 50000;
  right: -20000px;
  color: #042651;
  font-size: 1.2rem;
  transition: 0.8s ease-in-out forwards;
}

.active {
  right: 0px;
}
.top-icon-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin: 3rem auto;
}

.close-pop-up-icon {
  background-color: #ffc600;
  font-size: 2rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  color: #042651;
}
.other-part-wrapper {
  width: 80%;
  margin: 10rem auto;
}
.other-part-wrapper a {
  display: block;
  margin-bottom: 2rem;
  text-decoration: none;
  color: inherit;
}
.small-night-mode,
.small-day-mode {
  font-size: 2.5rem;
  cursor: pointer;
}

.users-sign-up i,
.users-login i,
.view-all-notes i {
  margin-right: 0.6rem;
}

.small-screen-bar {
  display: inline-block;
  color: #fff;
  font-size: 1.5rem;
  margin-right: 1.5rem;
  cursor: pointer;
  @media all and (min-width: 768px) {
    display: none;
  }
}
.main-body-wrapper {
  display: flex;
  flex-direction: column;
  height: 80vh;
  padding: 0 2rem;
  align-items: flex-start;
  justify-content: center;
  overflow-y: visible;
  @media all and (min-width: 1000px) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
.main-body-wrapper > * {
  flex-basis: 100%;
  flex-grow: 1;
}
.left-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media all and (min-width: 1000px) {
    min-width: 50%;
  }
}
.right-wrapper {
  display: none;
  @media all and (min-width: 1000px) {
    display: flex;
    align-items: flex-end;
    justify-content: flex-baseline;
    flex-direction: column;
    overflow-x: visible;
    height: 100%;
    justify-content: center;
  }
}

.right-wrapper img {
  display: none;

  @media all and (min-width: 1000px) {
    display: block;
    overflow: visible;
    height: 60%;
    width: 80%;
    object-position: 10% 30%;
    object-fit: cover;
  }
}
.main-heading {
  font-size: var(--fs-xl);
  margin-bottom: 2rem;
}

.less {
  color: #ffc600;
}
.description-text {
  width: 60%;
  line-height: 1.5rem;
  font-size: var(--fs-600);
  margin-bottom: 0.5rem;
  @media all and (min-width: 1000px) {
    width: 70%;
  }
}

.btn-wrapper {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  width: 50%;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  @media all and (min-width: 1000px) {
    display: flex;
    width: 70%;
    align-items: center;
  }
}
.btn-wrapper > * {
  flex-basis: 100%;
}
.sign-up-btn {
  background-color: #6124d4;
  border-radius: 50px;
  border: none;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
}

.sign-up-btn:hover {
  background-color: #310484;
  transition: 0.5s;
  font-weight: 700;
  text-decoration: none;
}
.login-btn {
  background-color: #fff;
  border-radius: 50px;
  border: 2px solid #fff;
  padding: 1rem 2rem;
  cursor: pointer;
  font-weight: 700;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #042651;
}

.login-btn:hover {
  background-color: #dddddd;
  color: #042651;
  transition: 0.5s;
  font-weight: 700;
  text-decoration: none;
}

.view-gallery-btn-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-weight: 700;
  align-self: flex-start;
  @media all and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 80%;
    align-items: center;
    align-self: flex-start;
  }
}

.view-gallery-btn {
  background-color: #ffc600;
  margin: 0 1rem 1rem 0;
  border-radius: 50px;
  border: none;
  padding: 1rem 5rem;
  color: #042651;
  cursor: pointer;
  font-weight: 700;
  text-decoration: none;
}

.view-gallery-btn:hover {
  background-color: #af8a03;
  color: #042651;
  font-weight: 700;
  transition: 0.5s;
  text-decoration: none;
}
